.scene {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.name-modal {
  width: 494px;
  height: 299px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #99a0ff;

  color: white;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    transition: opacity 0.5s ease-in;
    opacity: 1;

    &--hidden {
      opacity: 0;
    }
  }
}
