.question-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  .question-panel-question {
    width: 100vw;
    min-height: 150px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 5px #99a0ff;
    padding: 20px;

    text-align: center;
    color: white;
    font-size: 24px;
    background-color: rgba(0,0,0,0.8);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 700px) {
      width: 694px;
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0 0 5px 5px;
    }

    &__question-no, &__hyphen {
      font-size: 14px;
      color: #c8c8c8;
    }

    &__word, &__definition {
      font-size: 28px;
      font-weight: bold;
    }

    &__definition {
      text-transform: none;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  .question-panel-buttons {
    font-size: 20px;
    color: #c8c8c8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__text {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    &__button {
      flex-basis: calc(50% - 30px);
    }

    &__result-text {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &__animated-status {
      color: white;
      font-size: 24px;
      position: absolute;
      top: 150px;
      left: 0;
      right: 0;
      text-align: center;
    }

    &__animated-status-wrapper {
      position: relative;
    }

    &__animated-status-diff {
      font-weight: bold;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: -15px;
      color: rgb(210, 138, 20);
      transform: translateX(-50%);
      animation: money-diff-disappear 1000ms;
      animation-fill-mode: forwards;
      animation-delay: 2.5s;
    }

    &__animated-status-money {
      font-weight: bold;
      font-size: 34px;

      &--plus {
        color: rgb(17, 174, 37);
      }

      &--minus {
        color: rgb(210, 52, 20);
      }
    }
  }

  .question-panel-timer {
    text-align: center;

    &__info {
      font-size: 16px;
      color: #c8c8c8;
    }

    &__time {
      color: white;
      font-weight: bold;
      font-size: 20px;

      &--low {
        animation: timer-low 1s;
      }
    }

    &__bar {
      height: 5px;
      margin-top: 5px;
      background-color: rgb(253, 154, 20);
      transition: width ease-in 100ms;
    }
  }

  .question-panel-status {
    width: 100%;
    height: 75px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px #99a0ff;
    padding: 20px;
    font-size: 22px;
    color: #c8c8c8;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 700px) {
      width: 494px;
      border: 1px solid #ccc;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
    }

    &__value {
      font-weight: bold;
      color: white;
      font-size: 24px;
    }
  }

  @keyframes timer-low {
    0% {
      color: red;
    }
    100% {
      color: white;
    }
  }

  @keyframes money-diff-disappear {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      top: -50px;
    }
  }
}