.place-bet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;

  &__button {
    width: 100px;
    padding: 10px;
    margin-top: 10px;

    &--report {
      margin: 0;
      width: auto;
      font-size: 14px;
    }

    &--finish {
      margin: 0;
      width: auto;
      font-size: 14px;
    }
  }

  &__current-cash-status {
    margin: 20px 0;
  }

  &__current-cash-amount, &__current-bet-amount {
    font-weight: bold;
    font-size: 28px;
  }

  &__input {
    border: 1px solid black;

    &--error {
      border: 1px solid red;
      box-shadow: 0 0 4px red;
    }
  }

  &__extras {
    margin-top: 1em;

    > * {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }

  .place-bet-form-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
  }

  .place-bet-form-progress {
    display: flex;
    margin-bottom: 20px;
    width: 300px;
    align-items: center;

    &__item {
      flex: 1;
      background: white;
      box-shadow: 0 0 10px white;
      margin-right: 10px;
      height: 10px;

      &--inactive {
        background: white;
        opacity: 0.2;
        box-shadow: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__text-item {
      font-size: 15px;
      margin-right: 10px;
      text-transform: capitalize;
    }
  }

  .rc-slider {
    margin-bottom: 5px;

    .rc-slider-rail {
      background-color: #717171;
    }

    .rc-slider-track {
      background-color: white;
      box-shadow: 0 0 10px white;
    }

    .rc-slider-handle, .rc-slider-handle:active {
      border-color: white;
      box-shadow: 0 0 10px white;
    }
  }
}