.place-bet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;

  &__button {
    width: 100px;
    padding: 10px;
    margin-top: 10px;

    &--report {
      margin: 0;
      width: auto;
      font-size: 14px;
    }

    &--finish {
      margin: 0;
      width: auto;
      font-size: 14px;
    }
  }

  &__current-cash-status {
    margin: 10px 0;
  }

  &__current-cash-amount {
    font-weight: bold;
    font-size: 28px;
  }

  &__input {
    border: 1px solid black;

    &--error {
      border: 1px solid red;
      box-shadow: 0 0 4px red;
    }
  }

  &__extras {
    margin-top: 1em;
    display: flex;
    align-items: center;

    > * {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }

  .place-bet-form-info {
    display: flex;
    flex-direction: column;
  }
}