$spinkit-spinner-color: #fff;
@import "../../../node_modules/spinkit/scss/spinners/2-double-bounce";
@import "../../static/stylesheets/button";

.menu {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &__game-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    margin: 0;
    user-select: none;

    & > * {
      position: relative;
      margin-bottom: 10px;
    }

    &--caption-bunk {
      font-size: 1.4em;
    }
  }

  &__buttons {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    @extend .button;

    width: 200px;
  }

  &__signed-in {
    margin-bottom: 20px;
  }
}

